<!--<div *ngFor="let item of items$">-->
<!--  <blog-item [image]="item.image" [text]="item.text" [title]="item.title">-->
<!--  </blog-item>-->
<!--</div>-->


<!--<div *ngFor="let item of items$ | filter:filterText">-->
<!--  <blog-item-->
<!--    [image]="item.image"-->
<!--    [text]="item.text">-->
<!--  </blog-item>-->
<!--</div>-->


<div *ngFor="let item of items$ | filter:filterText">
  <blog-item
    [image]="item.image"
    [text]="item.text"
    [id]="item.id">
  </blog-item>
</div>

